# Getting to know Titanic Challenge

## Load Python Libraries

Run the cell below to `import` some Python libraries - these will be our tools for working with data ðŸ“Š

In [1]:
import pandas as pd
import numpy as np

--------------

## Load the Dataset

ðŸ‘‡ Run the cell below to load the `test.csv` dataset into this notebook as a pandas `DataFrame`, and display its first 5 rows.

*Note: the datasets has been cleaned and federated for learning purposes*

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

display(train.head())
display(test.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Information about this dataset :

| Variable |Â Definition | Key |Modification to do|
|---|---|---|---|
|Survived	|Survival	|0 = No, 1 = Yes|None|
|Pclass	|Ticket class|	1 = 1st, 2 = 2nd, 3 = 3rd|None|
|Name|Name||Delete|
|Sex|	Sex|	|Transform in int: 0 = Female, 1 = Male|
|Age|	Age in years|	|None|
|SibSp	|# of siblings / spouses aboard the Titanic	||None|
|Parch	|# of parents / children aboard the Titanic	||None|
|Ticket	|Ticket number|	|Delete|
|Tare	|Passenger fare	||None|
|Cabin	|Cabin number	||Transform in int : 0=No cabin, 1=Cabin|
|Embarked|	Port of Embarkation	|C = Cherbourg, Q = Queenstown, S = Southampton|Transform in int : 1 = Cherbourg, 2 = Queenstown, 3 = Southampton|

--------------

## We can get a lot of insight without ML! ðŸ¤”

Let's start by **understanding the data we have** - how big is the dataset, what is the information (columns) we have and so on:

**ðŸ’¡ Tip:** remember to check the slides for the right methods ;)

In [3]:
display(train.shape)
display(test.shape)

(891, 12)

(418, 11)

In [4]:
display(train.dtypes)
display(test.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [5]:
display(train.describe().round(0))

       PassengerId  Survived  Pclass    Age  SibSp  Parch   Fare
count        891.0     891.0   891.0  714.0  891.0  891.0  891.0
mean         446.0       0.0     2.0   30.0    1.0    0.0   32.0
std          257.0       0.0     1.0   15.0    1.0    1.0   50.0
min            1.0       0.0     1.0    0.0    0.0    0.0    0.0
25%          224.0       0.0     2.0   20.0    0.0    0.0    8.0
50%          446.0       0.0     3.0   28.0    0.0    0.0   14.0
75%          668.0       1.0     3.0   38.0    1.0    0.0   31.0
max          891.0       1.0     3.0   80.0    8.0    6.0  512.0

In [6]:
display(train.isna().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# Clean the data train and test

In [7]:
X_train = train[['Pclass','Sex','Age','SibSp','Parch','Fare','Cabin','Embarked']]
X_test = test[['Pclass','Sex','Age','SibSp','Parch','Fare','Cabin','Embarked']]

In [8]:
display(X_train.isna().sum())

Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [9]:
display(X_train.dtypes)

Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Cabin        object
Embarked     object
dtype: object

### Transformation colonne Sex

Transform in int: 0 = Female, 1 = Male

In [10]:
# Il faut appliquer le code numÃ©rique en fonction du statut
X_train['Sex'] = X_train['Sex'].apply(lambda x: 1 if x == 'male' else 0)
X_test['Sex'] = X_test['Sex'].apply(lambda x: 1 if x == 'male' else 0)

/var/folders/bq/2c_hkptn4x5712gt93rgcf280000gn/T/ipykernel_22603/1849684137.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Sex'] = X_train['Sex'].apply(lambda x: 1 if x == 'male' else 0)
/var/folders/bq/2c_hkptn4x5712gt93rgcf280000gn/T/ipykernel_22603/1849684137.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['Sex'] = X_test['Sex'].apply(lambda x: 1 if x == 'male' else 0)

### Transformation colonne Cabin

Transform in int : 0=No cabin, 1=Cabin

In [11]:
X_train['Cabin'].fillna(0, inplace = True)
X_train['Cabin'] = X_train['Cabin'].apply(lambda x: 0 if x == 0 else 1)

X_test['Cabin'].fillna(0, inplace = True)
X_test['Cabin'] = X_test['Cabin'].apply(lambda x: 0 if x == 0 else 1)

/var/folders/bq/2c_hkptn4x5712gt93rgcf280000gn/T/ipykernel_22603/322178862.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_train['Cabin'].fillna(0, inplace = True)
/var/folders/bq/2c_hkptn4x5712gt93rgcf280000gn/T/ipykernel_22603/322178862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Cabin'].fillna(0, inplace = True)
/var/folders/bq/2c_hkptn4x5712gt93rgcf280000gn/T/ipykernel_22603/322178862.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Cabin'] = X_train['Cabin'].apply(lambda x: 0 if x == 0 else 1)
/var/folders/bq/2c_hkptn4x5712gt93rgcf280000gn/T/ipykernel_22603/322178862.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_test['Cabin'].fillna(0, inplace = True)
/var/folders/bq/2c_hkptn4x5712gt93rgcf280000gn/T/ipykernel_22603/322178862.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['Cabin'].fillna(0, inplace = True)
/var/folders/bq/2c_hkptn4x5712gt93rgcf280000gn/T/ipykernel_22603/322178862.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['Cabin'] = X_test['Cabin'].apply(lambda x: 0 if x == 0 else 1)

### Cleaning colonne Age

Remplacement Nan par age moyen

In [12]:
X_train['Age'].fillna(X_train['Age'].mean(), inplace = True)
X_test['Age'].fillna(X_test['Age'].mean(), inplace = True)

/var/folders/bq/2c_hkptn4x5712gt93rgcf280000gn/T/ipykernel_22603/840507103.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_train['Age'].fillna(X_train['Age'].mean(), inplace = True)
/var/folders/bq/2c_hkptn4x5712gt93rgcf280000gn/T/ipykernel_22603/840507103.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Age'].fillna(X_train['Age'].mean(), inplace = True)
/var/folders/bq/2c_hkptn4x5712gt93rgcf280000gn/T/ipykernel_22603/840507103.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_test['Age'].fillna(X_test['Age'].mean(), inplace = True)
/var/folders/bq/2c_hkptn4x5712gt93rgcf280000gn/T/ipykernel_22603/840507103.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['Age'].fillna(X_test['Age'].mean(), inplace = True)

### Cleaning colonne Fare

In [13]:
X_train['Fare'].fillna(X_train['Fare'].mean(), inplace = True)
X_test['Fare'].fillna(X_test['Fare'].mean(), inplace = True)

/var/folders/bq/2c_hkptn4x5712gt93rgcf280000gn/T/ipykernel_22603/43845108.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_train['Fare'].fillna(X_train['Fare'].mean(), inplace = True)
/var/folders/bq/2c_hkptn4x5712gt93rgcf280000gn/T/ipykernel_22603/43845108.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Fare'].fillna(X_train['Fare'].mean(), inplace = True)
/var/folders/bq/2c_hkptn4x5712gt93rgcf280000gn/T/ipykernel_22603/43845108.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_test['Fare'].fillna(X_test['Fare'].mean(), inplace = True)
/var/folders/bq/2c_hkptn4x5712gt93rgcf280000gn/T/ipykernel_22603/43845108.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['Fare'].fillna(X_test['Fare'].mean(), inplace = True)

### Transformation colonne Embarked

Transform in int : 1 = C = Cherbourg, 2 = Q = Queenstown, 3 = S = Southampton

In [14]:
X_train['Embarked'] = X_train['Embarked'].apply(lambda x: 1 if x == 'C' else 
                                                (2 if x == 'Q' else (3 if x == 'S' else 0)))
X_test['Embarked'] = X_test['Embarked'].apply(lambda x: 1 if x == 'C' else 
                                                (2 if x == 'Q' else (3 if x == 'S' else 0)))

/var/folders/bq/2c_hkptn4x5712gt93rgcf280000gn/T/ipykernel_22603/1269447943.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Embarked'] = X_train['Embarked'].apply(lambda x: 1 if x == 'C' else
/var/folders/bq/2c_hkptn4x5712gt93rgcf280000gn/T/ipykernel_22603/1269447943.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['Embarked'] = X_test['Embarked'].apply(lambda x: 1 if x == 'C' else

### VÃ©rification du nettoyage des colonnes

In [15]:
display(X_train.head())
display(X_test.head())

   Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0       3    1  22.0      1      0   7.2500      0         3
1       1    0  38.0      1      0  71.2833      1         1
2       3    0  26.0      0      0   7.9250      0         3
3       1    0  35.0      1      0  53.1000      1         3
4       3    1  35.0      0      0   8.0500      0         3

   Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0       3    1  34.5      0      0   7.8292      0         2
1       3    0  47.0      1      0   7.0000      0         3
2       2    1  62.0      0      0   9.6875      0         2
3       3    1  27.0      0      0   8.6625      0         3
4       3    0  22.0      1      1  12.2875      0         3

In [16]:
display(X_train.isna().sum())
display(X_test.isna().sum())
display(X_train.dtypes)
display(X_test.dtypes)
display(X_train.describe())

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Cabin       0
Embarked    0
dtype: int64

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Cabin       0
Embarked    0
dtype: int64

Pclass        int64
Sex           int64
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Cabin         int64
Embarked      int64
dtype: object

Pclass        int64
Sex           int64
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Cabin         int64
Embarked      int64
dtype: object

,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,2.308642,0.647587,29.699118,0.523008,0.381594,32.204208,0.228956,2.529742
std,0.836071,0.477990,13.002015,1.102743,0.806057,49.693429,0.420397,0.800254
min,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,22.000000,0.000000,0.000000,7.910400,0.000000,2.000000
50%,3.000000,1.000000,29.699118,0.000000,0.000000,14.454200,0.000000,3.000000
75%,3.000000,1.000000,35.000000,1.000000,0.000000,31.000000,0.000000,3.000000
max,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200,1.000000,3.000000

### Traitement y_train et y_test

In [17]:
y_train = train[['Survived']]
y_train.head()

   Survived
0         0
1         1
2         1
3         1
4         0

-------

# Model - Linear Regression ðŸ“ˆ

## Let's check
what is in your `X_train`, `X_test`, `y_train`, `y_test`:

- What percentage of the observations were allocated to the train and the test set?
- How many features in `X_train` and `X_test`?

In [18]:
display(X_train.shape)
display(y_train.shape)

(891, 8)

(891, 1)

--------------

## Time to import the Linear Regression model

Python libraries like [Scikit-learn](https://scikit-learn.org/0.21/modules/classes.html) make it super easy for people getting into Data Science and ML to experiment.

The code is already in the library, it's just about **calling the right methods!** ðŸ›

In [19]:
from sklearn.linear_model import LinearRegression

Now to **initialize** the model. Store it in a variable `model`:

In [20]:
model = LinearRegression()

--------------

## Train the model on the **training set**. 

This is the process where the Linear Regression model looks for a line that best fits all the points in the dataset. This is the part where the computer is hard at work **learning**! ðŸ¤–

In [21]:
model.fit(X_train, y_train)

LinearRegression()

--------------

## Evaluate the performance of the model on the **train set**.

Models can have different default scoring metrics. Linear Regression by default uses something called `R-squared` - a metric that shows how much of change in the target

In [22]:
model.score(X_train, y_train)

0.4027120962398796

âš ï¸ **Careful not to confuse this with accuracy**. The above number is shows that **"the inputs we have can help us predict this percentage of change in the depreciation"** Which is decent considering we did with just a few lines of code!

ðŸ‘‰ You should get a slightly higher score on the training set, which is to be expected in general.

The good news is that the 2 scores are relatively close to each other, which shows that we achieved a **good balance**, our model **generalises well to new observations**, explaining more than 70% of change in depreciation.

**Splitting the dataset into a training set and a test set is essential in Machine Learning**. It allows us to **identify**:
- **Overfitting**: we would see a large difference between the 2 scores. The model would be very good on the data it trained on, but would be doing poorly on the test set.
- **Underfitting**: we would have bad score on both the training data and on the test data. In this case, a reason could be that the model is not complex enough to capture the patterns in the data.

In our case, we have a **robust model** that does well on new observationsðŸ’ª. We can now use it to make predictions on new houses with confidence.

--------------

## Let's **predict** the survivors ðŸ”®

In [23]:
display(X_test.iloc[0])
person_1 = [[3, 1, 34.5, 0, 0, 7.8292, 0, 2]]

Pclass       3.0000
Sex          1.0000
Age         34.5000
SibSp        0.0000
Parch        0.0000
Fare         7.8292
Cabin        0.0000
Embarked     2.0000
Name: 0, dtype: float64

In [24]:
test['Survived'] = model.predict(X_test)
test['Survived'] = round(test['Survived'],0)
display(test)
display(test[['PassengerId','Survived']])
test['Survived'].sum()
test.to_csv('results/results_linear_regression.csv', columns=['PassengerId','Survived'],index=False)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0.0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0.0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0.0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0.0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,0.0
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1.0
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,0.0
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,0.0
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,0.0

     PassengerId  Survived
0            892       0.0
1            893       0.0
2            894       0.0
3            895       0.0
4            896       1.0
..           ...       ...
413         1305       0.0
414         1306       1.0
415         1307       0.0
416         1308       0.0
417         1309       0.0

[418 rows x 2 columns]

--------------

## Explaining** the model

Linear Regression is a [linear model](https://scikit-learn.org/stable/modules/linear_model.html), so it's explainability is quite high.

### Coeficients
We can check the `coef_` or the **coefficients** of the model. These explain how much the target (`SalePrice`) changes with a change of `1` in each of the features (inputs), while holding other features constant.

In [25]:
model.coef_

array([[-1.30847790e-01, -5.03579262e-01, -5.86562754e-03,
        -4.05623792e-02, -1.86308618e-02,  1.79751336e-04,
         1.15497406e-01, -3.38092392e-02]])

ðŸ¤” We'd need to check the column order again, to know which number is which input. But, **we got you covered!** Run the cell below:

In [26]:
pd.concat([pd.DataFrame(X_train.columns),pd.DataFrame(np.transpose(model.coef_))], axis = 1)

          0         0
0    Pclass -0.130848
1       Sex -0.503579
2       Age -0.005866
3     SibSp -0.040562
4     Parch -0.018631
5      Fare  0.000180
6     Cabin  0.115497
7  Embarked -0.033809

### Intercept 
The other thing we can check is the **intercept** of the model. This is the target (`SalePrice`) for when all inputs are 0. So this should be close to a new house with a surface of 0 squared feet, no bedrooms, no kitchens and an overall quality of 0:

In [27]:
model.intercept_

array([1.26785433])

# Random forest Model

## 1er jet (features : "Pclass", "Sex", "SibSp", "Parch")

In [29]:
women = train.loc[train.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)
print("% of women who survived:", rate_women)

men = train.loc[train.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)
print("% of men who survived:", rate_men)

% of women who survived: 0.7420382165605095
% of men who survived: 0.18890814558058924

In [31]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

y_1 = train["Survived"]

features_1 = ["Pclass", "Sex", "SibSp", "Parch"]
X_1 = pd.get_dummies(train[features_1])
X_test1 = pd.get_dummies(test[features_1])

In [32]:
model_RFC1 = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model_RFC1.fit(X_1, y_1)
predictions = model_RFC1.predict(X_test1)

output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': predictions})
output.to_csv('results/results_random_forest_1.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

## 2e jet (features: Pclass	Sex	SibSp Parch Cabin Embarked)

Il faut utiliser plus de feature et il faut donc nettoyer les donnÃ©es.

Pour le Random Forest Model il faut le x et le y dans le mÃªme set ?

In [33]:
y_2 = train["Survived"]

features_2 = ["Pclass", "Sex", "SibSp", "Parch", "Cabin", "Embarked"]
X_2 = pd.get_dummies(X_train[features_2])
X_test2 = pd.get_dummies(X_test[features_2])

In [38]:
model_RFC2 = RandomForestClassifier(n_estimators=1000, max_depth=8, random_state=1)
model_RFC2.fit(X_2, y_2)

predictions2 = model_RFC2.predict(X_test2)

output2 = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': predictions2})
output2.to_csv('results/results_random_forest_2.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [37]:
# decision_path(X_2)

NameError: name 'decision_path' is not defined

# Support Vector Machine

# Logistic Regression